html, body{
margin: 0;
color: #525353;
}


#dino {
  width: 50px;
  height: 50px;
  background-image: url(../img/trex.png);
  background-size: 50px 50px;
  position: relative;
  top: 184px;
  left: 10px;
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 145px;
  left: 580px;

  background-size: 20px 40px;

  animation: block 2.3s infinite linear; 
}

.popcorn{
  background-image: url(../img/popcorn.png);
}

.note{
  background-image: url(../img/note.png);
}

.fork{
  background-image: url(../img/fork.png);
}

.container #undo{
  margin-left: 30px;
  margin-top: 30px;
}

#score {
  position: absolute;
  top: 5%;
  right: 3.5%;
  transform: translateX(-50%);
  font-size: 2rem; /* 폰트 크기 조절 */
  font-family: "DINO"; /* 폰트 변경 */
}

#game-clear-text {
  font-size: 3rem;
  font-family: "DINO";
  position: absolute;
  text-align: center;
  width: 100%;
}

#game-over-text {
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  letter-spacing: 10px;
  text-align: center;
  font-family: "DINO";
}

#game-over-text.show {
  display: block;
  font-family: "DINO";
}

.jump {
  animation: jump 0.35s linear;
}

.game {
  width: 900px;  
  height: 263px;
  border: 1px solid #525353;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/earth2.png);
}

.info{
  padding-top: 50px;
}

.hide {
  display: none;
}

.gameOverButton{
  position: absolute;
  top: 230%;
  left: 63%;
  transform: translate(-50%, -50%);
}

span{
  font-size: 20px;
}

.container h1{
  text-align: center;
  font-family: "DINO";
  margin-top: 0%;
}

button {
  color: #FFFFFF;
  font-family: "DINO";
  background-color: #525353;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
}

input#retry-button {
  position: absolute;
  top: 230%;
  left: 29%;
  transform: translate(-50%, -50%);
  background: url("../img/re.png") no-repeat;
  background-color: transparent;
  border: none;
  width: 37px;
  cursor: pointer;
  height: 34px;
}

@font-face {
    font-family: "DINO";
    src: url("../fonts/DungGeunMo.ttf");
}
    
@keyframes block {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes jump {
  0% {
    top: 184px;
  }

  16% {
    top: 169px;
  }

  33% {
    top: 134px;
  }

  49% {
    top: 119px;
  }
 
  66% {
    top: 134px;
  }

  82% {
    top:169px;
  }

  100% {
    top: 184px;
  }
}

.container {
  height: 100vh;
  width: 100vw;
}



.moviebackground {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: url("../img/theater_big.png") no-repeat;
  background-size: cover;
  background-position: center center;

  overflow: hidden;

}

.musicbackground {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: url("../img/music_background.png") no-repeat;
  background-size: cover;
  background-position: center center;

  overflow: hidden;

}

.dinnerbackground {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: url("../img/dinner_table.png") no-repeat;
  background-size: cover;
  background-position: center center;

  overflow: hidden;

}

.noEntry{
  display: None;
}

@media (max-width: 1000px) {
  html, body{
      margin: 0;
      color: white;
      height: 100vh;
      width: 100%;
      font-family: "DINO";
      background-color: #252525;

      overflow: hidden;
  }

  .dinnerbackground{
    display: none;
  }

  .musicbackground{
    display: none;
  }

  .moviebackground{
    display: none;
  }
  .selectMenu{
    display: none;
  }

  .noEntry{
    display: grid;
    place-items: center;
    margin-top: 50%;
  }
}
